<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WithdrawalMapper">
	
	<!--表名 -->
	<sql id="tableName">
		m_withdrawal
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		AGENT_CODE,	
		AGENT_NAME,	
		MONEY,	
		IS_PAY,	
		CREATOR,	
		CREATOR_TIME,	
		WITHDRAWAL_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{AGENT_CODE},	
		#{AGENT_NAME},	
		#{MONEY},	
		#{IS_PAY},	
		#{CREATOR},	
		#{CREATOR_TIME},	
		#{WITHDRAWAL_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			WITHDRAWAL_ID = #{WITHDRAWAL_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			AGENT_CODE = #{AGENT_CODE},
			AGENT_NAME = #{AGENT_NAME},
			MONEY = #{MONEY},
			IS_PAY = #{IS_PAY},
		WITHDRAWAL_ID = WITHDRAWAL_ID
		where 
		WITHDRAWAL_ID = #{WITHDRAWAL_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			WITHDRAWAL_ID = #{WITHDRAWAL_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					AGENT_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					AGENT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
		<if test="pd.lastStart!=null and pd.lastStart!=''"><!-- 登录时间检索 -->
					and CREATOR_TIME &gt;= #{pd.lastStart} 
		</if>
		<if test="pd.lastEnd!=null and pd.lastEnd!=''"><!-- 登录时间检索 -->
					and CREATOR_TIME &lt;= #{pd.lastEnd} 
		</if>
		<if test="pd.tm !=null and pd.tm !=''"><!-- 登录时间检索 -->
					and CREATOR_TIME LIKE CONCAT(CONCAT('%', #{pd.tm}),'%') 
		</if>
		<if test="pd.loger != 888888">
		    and	CREATOR=#{pd.loger}
		</if>
		order by IS_PAY
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			WITHDRAWAL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!-- 修改状态 -->
	<update id="updatestatus" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			IS_PAY = #{IS_PAY}
		where 
		WITHDRAWAL_ID = #{WITHDRAWAL_ID}
	</update>
	<!-- 修改状态 -->
	<update id="updateagent" parameterType="pd">
		update
		m_agent
		set 
			SURPLUS_MONEY = SURPLUS_MONEY - #{CASH_MONEY},
			CASH_MONEY =  CASH_MONEY + #{CASH_MONEY}
		where 
		AGENT_CODE = #{AGENT_CODE}
	</update>
</mapper>