<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd
	">
	
	<!-- 启用注解 -->
	<context:annotation-config />
	
	<!-- 启动组件扫描，排除@Controller组件，该组件由SpringMVC配置文件扫描 -->
	<context:component-scan base-package="com.bets">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
	<!-- 读取参数配置 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
		<property name="locations">  
			<list>  
                 <value>/WEB-INF/classes/dbconfig.properties</value>
                 <value>/WEB-INF/classes/redis.properties</value>  
            </list>  
        </property>  
	</bean> 
	
	<!-- 第一步定时任务执行类配置 -->
	<!-- <bean id="complexJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">  
        <property name="jobClass" value="com.bets.service.timetask.ScheJob_CalSettleMoeny" />  
        <property name="jobDataMap">  
            <map>  
                <entry key="calSettelMoney" value-ref="calSettelMoney" />  
            </map>  
        </property>  
        <property name="durability" value="true" />  
    </bean> --> 
     <!--第二步 定时任务执行时间间隔配置 -->
   <!-- <bean id="cronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail" ref="complexJobDetail" />  
        <property name="cronExpression" value="0 50 * * * ?" />   
    </bean> -->
    <!-- 第三步，将执行任务加入计划执行列表中-->
   <!-- <bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="jobDetails">  
            <list>  
                <ref bean="complexJobDetail" />  
            </list>  
        </property>  
        <property name="triggers">  
            <list>               
             <ref bean="cronTrigger" /> 
            </list>  
        </property>  
    </bean> -->
   
</beans>
